.article-page-card{
    width: 105% !important;
    position:relative;
  
    margin-top: -9px
  }

.article-page-card-image{
    width:100%;
    height:100%;
    filter: brightness(70%);
    margin-bottom: -5px
  }

.article-page-card-overlay {
    width: 100%;
    position: absolute;
    z-index: 99;
    bottom: 12px;
    color: #fff;
}

.article-page-card-sub-title {
  color: #b4b4b4 !important;
}

@media (prefers-color-scheme: dark) {
  .article-page-card-content {
    color: rgb(212, 212, 212);
  }
}

.article-page-card-content {
   
    margin: 14px;
    font-size: 16px
}

