.form {
    margin-top: 32px
}

.title {
    text-align: center;
}

.link {
    font-size: 14px;
    text-align: center;
    text-decoration: none !important;
}

.link:hover {
    cursor: pointer;
}

.input {
   height: 55px
}

.item {
    border-radius: 10px;
    height: 55px;
}

.column {

    max-width: 300px;
    margin-right: auto;
    margin-left: auto
}